<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?><!--
    Copyright (c) 2009 IBM Corporation and others.
    All rights reserved. This program and the accompanying materials
    are made available under the terms of the Eclipse Public License v1.0
    which accompanies this distribution, and is available at
    http://www.eclipse.org/legal/epl-v10.html
   
    Contributors:
        IBM Corporation - initial API and implementation
 -->

<plugin>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTypeImages">
      <launchConfigurationTypeImage
            configTypeID="org.eclipse.e4.languages.javascript.debug.launchConfigurationType"
            icon="$nl$/icons/elcl16/script.gif"
            id="org.eclipse.e4.languages.javascript.debug.ui.launchConfigurationTypeImage">
      </launchConfigurationTypeImage>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTabGroups">
      <launchConfigurationTabGroup
            class="org.eclipse.e4.languages.internal.javascript.debug.ui.launching.JavascriptTabGroup"
            description="%launchConfigurationTabGroup.description"
            helpContextId="javascript_tab_group"
            id="org.eclipse.e4.languages.javascript.debug.ui.launchConfigurationTabGroup"
            type="org.eclipse.e4.languages.javascript.debug.launchConfigurationType">
      </launchConfigurationTabGroup>
   </extension>
   <!--
   <extension
         point="org.eclipse.debug.core.launchDelegates">
      <launchDelegate
            delegate="org.eclipse.e4.languages.internal.javascript.debug.launching.JavascriptLaunchDelegate"
            delegateDescription="%launchDelegate.description"
            id="org.eclipse.e4.languages.javascript.debug.launchDelegate"
            modes="run,debug"
            name="%launchDelegate.name"
            sourceLocatorId="org.eclipse.e4.languages.javascript.debug.sourceLocator"
            sourcePathComputerId="org.eclipse.e4.languages.javascript.debug.sourcePathComputer"
            type="org.eclipse.e4.languages.javascript.debug.launchConfigurationType">
      </launchDelegate>
   </extension>
   -->
   <extension
         point="org.eclipse.core.runtime.adapters">
      <factory
            adaptableType="org.eclipse.wst.jsdt.internal.ui.javaeditor.CompilationUnitEditor"
            class="org.eclipse.e4.languages.internal.javascript.debug.ui.adapters.JSDIAdapterFactory">
         <adapter
               type="org.eclipse.debug.ui.actions.IToggleBreakpointsTarget">
         </adapter>
      </factory>
      <factory
            adaptableType="org.eclipse.wst.jsdt.core.IFunction"
            class="org.eclipse.e4.languages.internal.javascript.debug.ui.adapters.JSDIAdapterFactory">
         <adapter
               type="org.eclipse.debug.ui.actions.IToggleBreakpointsTarget">
         </adapter>
      </factory>
      <factory
            adaptableType="org.eclipse.wst.jsdt.core.IField"
            class="org.eclipse.e4.languages.internal.javascript.debug.ui.adapters.JSDIAdapterFactory">
         <adapter
               type="org.eclipse.debug.ui.actions.IToggleBreakpointsTarget">
         </adapter>
      </factory>
   </extension>
   <extension
         point="org.eclipse.ui.editorActions">
      <editorContribution
            id="org.eclipse.e4.languages.javascript.debug.ui.togglebreakpoint"
            targetID="org.eclipse.wst.jsdt.ui.CompilationUnitEditor">
         <action
               actionID="RulerDoubleClick"
               class="org.eclipse.debug.ui.actions.RulerToggleBreakpointActionDelegate"
               id="org.eclipse.e4.languages.javascript.debug.ui.RulerToggleBreakpoint"
               label="%togglebreakpointRulerAction.name">
         </action>
      </editorContribution>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <viewerContribution
            id="org.eclipse.e4.languages.javascript.debug.ui.RulerPopupActions"
            targetID="org.eclipse.wst.jsdt.ui.CompilationUnitEditor.RulerContext">
         <action
               class="org.eclipse.debug.ui.actions.RulerToggleBreakpointActionDelegate"
               icon="$nl$/icons/elcl16/brkp_obj.gif"
               id="org.eclipse.e4.languages.javascript.debug.ui.ManageBreakpointRulerActionDelegate"
               label="%togglebreakpointRulerAction.name"
               menubarPath="debug">
         </action>
      </viewerContribution>
      <objectContribution
            adaptable="true"
            id="org.eclipse.e4.languages.javascript.debug.ui.breakpointactions"
            objectClass="org.eclipse.e4.languages.javascript.debug.model.JSDIBreakpoint">
         <action
               class="org.eclipse.e4.languages.internal.javascript.debug.ui.actions.BreakpointPropertiesAction"
               definitionId="org.eclipse.e4.languages.javascript.debug.ui.breakpoint.properties"
               enablesFor="1"
               id="org.eclipse.e4.languages.javascript.debug.ui.javascriptbreakpoints"
               label="Breakpoint P&amp;roperties"
               menubarPath="additions">
         </action>
      </objectContribution>
      <objectContribution
            adaptable="true"
            id="org.eclipse.e4.languages.javascript.debug.ui.outline.togglefunctionbreakpoint"
            objectClass="org.eclipse.wst.jsdt.core.IFunction">
         <action
               class="org.eclipse.e4.languages.internal.javascript.debug.ui.breakpoints.ToggleFunctionBreakpointActionDelegate"
               enablesFor="+"
               helpContextId="toggle_function_bp_outline"
               icon="icons/elcl16/brkp_obj.gif"
               id="org.eclipse.e4.languages.javascript.debug.ui.outline.togglefunction"
               label="Toggle Function Breakpoint"
               menubarPath="additions"
               tooltip="Toggle a breakpoint on the selected function">
         </action>
      </objectContribution>
   </extension>
   <extension
         point="org.eclipse.debug.ui.debugModelPresentations">
      <debugModelPresentation
            class="org.eclipse.e4.languages.internal.javascript.debug.ui.JSDIModelPresentation"
            id="org.eclipse.e4.languages.javascript.debug.model">
      </debugModelPresentation>
   </extension>
   <extension
         point="org.eclipse.ui.propertyPages">
      <page
            class="org.eclipse.e4.languages.internal.javascript.debug.ui.breakpoints.LineBreakpointPropertyPage"
            id="org.eclipse.e4.languages.javascript.debug.ui.proppage.linebreakpoint"
            name="%breakpointproperties.page.name">
         <enabledWhen>
            <or>
               <adapt
                     type="org.eclipse.e4.languages.javascript.debug.model.JSDILineBreakpoint">
               </adapt>
               <instanceof
                     value="org.eclipse.e4.languages.javascript.debug.model.JSDILineBreakpoint">
               </instanceof>
            </or>
         </enabledWhen>
      </page>
      <page
            class="org.eclipse.e4.languages.internal.javascript.debug.ui.breakpoints.FunctionBreakpointPropertyPage"
            id="org.eclipse.e4.languages.javascript.debug.ui.proppage.functionbreakpoints"
            name="%breakpointproperties.page.name">
         <enabledWhen>
            <or>
               <instanceof
                     value="org.eclipse.e4.languages.javascript.debug.model.JSDIFunctionBreakpoint">
               </instanceof>
               <adapt
                     type="org.eclipse.e4.languages.javascript.debug.model.JSDIFunctionBreakpoint">
               </adapt>
            </or>
         </enabledWhen>
      </page>
      <page
            class="org.eclipse.e4.languages.internal.javascript.debug.ui.breakpoints.BreakpointPropertyPage"
            id="org.eclipse.e4.languages.javascript.debug.ui.proppage.scriptloadbreakpoint"
            name="%breakpointproperties.page.name">
         <enabledWhen>
            <or>
               <instanceof
                     value="org.eclipse.e4.languages.javascript.debug.model.JSDIScriptLoadBreakpoint">
               </instanceof>
               <adapt
                     type="org.eclipse.e4.languages.javascript.debug.model.JSDIScriptLoadBreakpoint">
               </adapt>
            </or>
         </enabledWhen>
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="org.eclipse.e4.languages.javascript.debug.ui.breakpoint.properties"
            contextId="org.eclipse.debug.ui.BreakpointView"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+ENTER">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            categoryId="org.eclipse.debug.ui.category.run"
            description="%breakpointproperties.command.description"
            id="org.eclipse.e4.languages.javascript.debug.ui.breakpoint.properties"
            name="%breakpointproperties.command.name">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.viewActions">
      <viewContribution
            id="breakpointsViewActions"
            targetID="org.eclipse.debug.ui.BreakpointView">
         <action
               class="org.eclipse.e4.languages.internal.javascript.debug.ui.actions.AddScriptLoadBreakpointAction"
               disabledIcon="$nl$/icons/elcl16/script.gif"
               helpContextId="add_script_load_breakpoint_action"
               hoverIcon="$nl$/icons/elcl16/script.gif"
               icon="$nl$/icons/elcl16/script.gif"
               id="org.eclipse.e4.languages.javascript.debug.ui.add.scriptload.breakpoint"
               label="%addScriptloadBreakpointAction.name"
               style="push"
               toolbarPath="exceptions"
               tooltip="%addScriptloadBreakpointAction.name">
         </action>
      </viewContribution>
   </extension>

</plugin>
