<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id: plugin.xml,v 1.2 2009/10/23 20:32:20 htraetteb Exp $
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://www.eclipse.org/e4/tm/graphics2d/graphics2d.ecore"
            class="graphics2d.Graphics2dPackage"
            genModel="model/graphics.genmodel"/>
   </extension>

</plugin>
